@model IEnumerable<Vidly.Models.Customer>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.MembershipType.MembershipName)
        </th>


    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td>
        @Html.ActionLink(item.Name, "Edit", new { id = item.Id })
    </td>
    <td>
        @item.MembershipType.MembershipName
    </td>


</tr>
}

</table>
